body{
    background-image: url(/imagenes/raven.jpg);
    width: auto;
    height: auto;
    overflow: auto;
    font-size: 19px;
}

p{
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabecera{
    margin: 2% auto 0% auto; 
    text-align: center;
    color: blueviolet;
    text-shadow: 2px 2px black;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}

.contenedor{
    width: auto;  
    height: auto;
    overflow: auto; 
}

.menu{
    text-align: center;
    font-size: 40px;
    margin: 1%;
}

.contenido{
    margin:1% 0px 1% 0px;
    text-align: center;
}

.menu-autor{
    margin:2% auto 2% auto;
    text-align: center;
    font-size: 30px;
}   

.contenedor-autor{
    margin: 0% 2% 0% 2%;
}

.contenido-autor{
    float: left;
    width: 66%;
    text-align: justify;
    overflow: auto;
    height:500px;
    margin: 0% auto 0% auto;
}

.contenedor-cuentos{
    font-size: 250%;
    text-align: left;
    color: black;
    margin: auto 10% auto 10%;
    line-height: 90px;
}

.navegador-autor{
    opacity: 0.8;
    float: right;
    width: 30%;
    background-color: #f1f1f1;
    margin: 2% auto 2% auto;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: circle;
    line-height: 90px;
}

.imgcuentos{
    width: 35%;
    height: 75%;
    float: left;
    margin: auto 2% 1% auto;   
}

.navegador-glosario{
    opacity: 0.8;
    float: right;
    width: 30%;
    background-color: #f1f1f1;
    margin: 2% auto 2% auto;
    font-size: 20px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: circle;
    line-height: 20px;
    overflow: auto;
    height:450px;
    padding: 0px 25px 0px 25px;
}

.opinion-personal{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
    margin: 0px;
    text-transform: uppercase;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pie {
   width: 100%;
   color: white;
   text-shadow: 2px 2px black;
   text-align: center;
   overflow: auto;
}

#allan{
    border-radius: 50%;
}

#retrato{
    float: left;
    margin: auto 2% 1% auto;
    border-radius: 10%;
}

a:visited{
    color: blueviolet;
}